nav button {
  background: none;
  border: none;
  color: inherit; /* inherit text color */
  cursor: pointer;
  font: inherit; /* inherit font styles */
  padding: 0;
  /* margin: 0 10px; */
  position: relative; /* for ::after positioning */
  transition: color 0.2s, background-color 0.2s;
}

nav button:hover {
  color: #ffd700; /* Gold */
  background-color: rgba(60, 201, 201, 0.016);
}

nav button::after {
  content: '';
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.2s;
  /* position: absolute;
  right: -20px; */
  top: 50%;
  transform: translateY(-50%);
}

nav button:hover::after {
  content: '👉';
  opacity: 1;
}

